.App {
  font-family: sans-serif;
  border: 1px solid blue;
  margin: 30px;
  padding: 30px;
  position: relative;
  box-shadow: 4px 4px 20px #aaa;
}

.App::before {
  position: absolute;
  content: "React component";
  margin-top: -40px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}

.vue {
  border: 1px solid red;
  margin: 10px 0px 40px 0;
  padding: 20px;
  box-shadow: 4px 4px 20px #aaa;
}

.vue1::before {
  position: absolute;
  content: "Vue component";
  margin-top: -30px;
  left: 40px;
  background-color: white;
  padding: 0 10px;
}

.vue2::before {
  position: absolute;
  content: "Vue component 2";
  margin-top: -30px;
  left: 40px;
  background-color: white;
  padding: 0 10px;
}
